
.card {
    border-radius: 15px;
    transition: box-shadow 0.3s ease;
    cursor: pointer;
  }
  
  .card:hover {
    box-shadow: 0 4px 10px #e8ae5c;
    border: 1px solid #e8ae5c; 
  }
  
  .card .card-body {
    padding: 20px;
  }
  
  .card-title {
    font-size: 1.2rem;
    font-weight: bold;
  }

  .custom-card-class {
  
    border-radius: 8px;
    transition: box-shadow 0.3s ease;
    cursor: pointer;
  }
  
  .custom-card-class:hover {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  }
  
  .custom-card-class .card-body {
    padding: 20px;
   
  }
  
  .custom-card-class .card-title {
    font-size: 1.2rem;
    font-weight: bold;
  }
  
  h2 {
    margin-bottom: 30px;
  }
  
  .card-img-top {
    width: 100%;
    height: 300px; /* Set a fixed height for the images */
    object-fit: cover; /* Ensure images maintain aspect ratio within fixed height */
    border-top-left-radius: 10px;
    border-top-right-radius: 10px;
  }

  .left-align {
    text-align: left;
  }


  



 