/* hero.css */

.card {
  border-radius: 8px;
  transition: box-shadow 0.3s ease;
  cursor: pointer;
  margin-bottom: 20px; /* Add margin to create space between cards */
}

.card:hover {
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.card .card-body {
  padding: 20px;
}

.card-title {
  font-size: 1.2rem;
  font-weight: bold;
}

h2 {
  margin-bottom: 30px;
}

.card-img-top {
  width: 100%;
  height: 300px; /* Set a fixed height for the images */
  object-fit: cover; /* Ensure images maintain aspect ratio within fixed height */
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}
