/* hero.css */
.hero {
  background-color: #f8f9fa;
  padding: 40px 0;
}


.hero-content {
  margin-top: 20px;
}

.hero-wrench-icon {
  margin-bottom: 20px;
}

.hero-latest-gtn h4,
.container h4 {
  color: #343a40;
}

.splide__slide img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
}

.splide__slide h5 {
  font-size: 18px;
  margin-top: 10px;
}

.splide__slide p {
  font-size: 14px;
  margin-bottom: 10px;
  text-align: left;
}

.splide__slide p:last-child {
  margin-bottom: 0;
}

.splide__slide h5,
.splide__slide p {
  color: #6c757d;
  text-align: left;
}


/* hero.css */
/* ... existing styles ... */

.container h4 {
  color: #343a40;
  margin-bottom: 20px;
}

.container .product-container {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
}

.container .product {
  width: calc(25% - 20px); /* 20px is the total margin space between items */
  box-sizing: border-box;
  margin-bottom: 20px;
  padding: 0 10px;
}

.container .product img {
  width: 100%;
  border-radius: 8px;
  margin-bottom: 10px;
}

.container .product h5 {
  font-size: 18px;
  margin-top: 10px;
}

.container .product p {
  font-size: 14px;
  margin-bottom: 10px;
  text-align: left; /* Align text to the left */
}

.container .product p:last-child {
  margin-bottom: 0;
  
}

.container .product h5,
.container .product p {
  color: #6c757d;
}
.container .product h5 {
  font-size: 18px;
  margin-top: 10px;
  text-align: left; /* Align title to the left */
}

.container .product p {
  font-size: 14px;
  margin-bottom: 10px;
  text-align: left;
}
